:root {
  --color-primary: #5BBAC7;
  --color-grey-light: grey;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh; }

body {
  font-family: "Opens sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.nav {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 10% 10% 30% 26% 7% 7%;
  grid-gap: 3rem;
  padding: 1rem 2rem;
  color: white;
  align-items: center;
  font-size: inherit;
  background-color: var(--color-primary); }
  .nav-container {
    display: grid;
    grid-template-rows: minmax(6rem, 1fr);
    font-size: 1.6rem; }
  .nav-logo {
    width: 100%;
    height: auto;
    margin: auto;
    grid-column: 1/2; }
    .nav-logo img {
      width: 100%; }
  .nav-browse {
    justify-content: center;
    font-size: 1.5rem;
    font-family: Poppins; }
    .nav-browse-text {
      cursor: pointer; }
    .nav-browse-text:hover {
      color: #f37021; }
    .nav-browse-dropdown {
      margin-top: 0.7%;
      list-style: none;
      position: absolute;
      display: flex;
      flex-direction: column;
      border: 1px solid #dcdcdc;
      border-top: unset;
      font-family: Poppins; }
      .nav-browse-dropdown-catContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
        .nav-browse-dropdown-catContainer-cat1, .nav-browse-dropdown-catContainer-cat2, .nav-browse-dropdown-catContainer-cat3 {
          padding: 2rem; }
          .nav-browse-dropdown-catContainer-cat1 .list-title, .nav-browse-dropdown-catContainer-cat2 .list-title, .nav-browse-dropdown-catContainer-cat3 .list-title {
            text-decoration: underline;
            list-style-type: none;
            color: black; }
          .nav-browse-dropdown-catContainer-cat1 .list-item, .nav-browse-dropdown-catContainer-cat2 .list-item, .nav-browse-dropdown-catContainer-cat3 .list-item {
            color: black;
            list-style-type: none; }
          .nav-browse-dropdown-catContainer-cat1 .list-item:hover, .nav-browse-dropdown-catContainer-cat2 .list-item:hover, .nav-browse-dropdown-catContainer-cat3 .list-item:hover {
            color: #f37021;
            cursor: pointer;
            background-color: silver; }
      .nav-browse-dropdown-otherContainer {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 2rem;
        color: black; }
  .nav-search-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    width: 85%;
    border-radius: 10rem;
    padding: .7rem 2rem;
    border: none;
    margin-right: -3rem;
    transition: all .2s; }
    .nav-search-input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
      color: var(--color-grey-dark-3); }
    .nav-search-input::-webkit-input-placeholder {
      font-weight: 100%;
      color: var(--color-grey-light-4); }
  .nav-search-input:focus + .nav-search-button {
    background-color: var(--color-grey-light-3); }
  .nav-search-button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .nav-search-button:focus {
      outline: none; }
    .nav-search-button:active {
      transform: translateY(0.2rem); }
  .nav-search-icon {
    width: 2rem;
    height: 1rem;
    fill: var(--color-grey-dark-3); }
    .nav-search-icon:hover {
      cursor: pointer; }
  .nav-login {
    grid-column: 5/6; }
  .nav-sign-up {
    grid-column: 6/6; }

.side-sticky-menu {
  padding-left: 35px; }
  .side-sticky-menu .content {
    margin: 33px auto 0 6px; }
    .side-sticky-menu .content-body {
      width: 256px;
      position: relative; }
      .side-sticky-menu .content-body .dropdown-btn {
        width: 100%;
        height: 2rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #002333;
        border-bottom: #dcdee1 1px solid;
        font-weight: 700; }
        .side-sticky-menu .content-body .dropdown-btn:hover {
          cursor: pointer; }
      .side-sticky-menu .content-body .dropdown-container .list-item {
        margin-left: -1.5rem;
        height: 40px;
        line-height: 20px;
        color: #394649;
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1.5rem; }
        .side-sticky-menu .content-body .dropdown-container .list-item a {
          font-size: 1.5rem; }
        .side-sticky-menu .content-body .dropdown-container .list-item:hover {
          background-color: #002333;
          color: white;
          cursor: pointer;
          border-radius: 4px; }

.video {
  grid-column: 1 / -1; }
  .video-heading {
    color: black;
    font-size: 3.6rem;
    padding: 1rem 0 3rem 2rem; }
  .video-container {
    display: grid;
    grid-template-rows: min-content 1fr min-content 1fr;
    grid-gap: 2rem;
    padding: 2rem 2rem 2rem 5rem;
    margin: 2rem 0;
    transition: all 2s; }
  .video-slidebar {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center; }
    .video-slidebar-container {
      display: grid;
      grid-template-rows: 20rem 1fr;
      box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.7);
      border-radius: 1.5rem;
      transition: all .5s; }
      .video-slidebar-container-iframe {
        grid-row: 1/1; }
        .video-slidebar-container-iframe iframe {
          border-top-left-radius: 1.5rem;
          border-top-right-radius: 1.5rem;
          width: 100%;
          height: 100%; }
      .video-slidebar-container-description {
        grid-row: 2/2;
        background-color: var(--color-grey-light-2);
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
        border-bottom-right-radius: 1.5rem;
        color: black; }
        .video-slidebar-container-description-students {
          grid-row: 1/1;
          grid-column: 1/2;
          font-size: 1.6rem; }
        .video-slidebar-container-description-time {
          grid-row: 1/1;
          grid-column: 3/3;
          display: flex;
          flex-flow: column;
          align-items: flex-end;
          font-size: 1.6rem; }
        .video-slidebar-container-description-heading {
          grid-row: 2/3;
          grid-column: 1/-1;
          margin: .8rem 0 2rem 0;
          font-size: 1.8rem;
          font-weight: 900;
          padding-right: 2rem; }
        .video-slidebar-container-description-professor {
          grid-row: 3/3;
          grid-column: 1/1;
          font-size: 1.6rem; }
        .video-slidebar-container-description-bookmark {
          grid-row: 3/3;
          grid-column: 3/3;
          display: flex;
          flex-flow: column;
          align-items: flex-end; }
          .video-slidebar-container-description-bookmark-icon {
            width: 2rem;
            height: 2rem;
            fill: transparent;
            stroke: #646464; }
    .video-slidebar-container:hover {
      transform: translateY(-1rem); }

.footer-container {
  padding-left: 35px;
  font-size: 1.5rem;
  background-color: var(--color-primary);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 100px 0 0;
  padding: 60px 41px;
  color: white; }
  .footer-container-ul {
    list-style-type: none;
    font-size: 1.5rem; }

.footer-container-ul > li {
  float: left;
  margin-right: 15px; }

li > a {
  text-decoration: none;
  color: white; }

li > a:hover {
  color: #ffdd00; }

.social-media-links {
  font-size: 2.5rem;
  float: right;
  cursor: pointer; }
  .social-media-links .media-link {
    color: white;
    margin: 0 1rem; }

.profile {
  padding: 2rem 2rem 0 5rem; }
  .profile-container-grid {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    font-size: 1.6rem;
    padding: 15px;
    height: 15rem; }
    .profile-container-grid .img-wrapper {
      grid-column-start: full-start;
      grid-column-end: 2;
      display: inherit;
      justify-content: center;
      align-content: center; }
      .profile-container-grid .img-wrapper img {
        border-radius: 50%;
        width: 100px;
        height: 100px; }
    .profile-container-grid .description {
      grid-column-start: center-start;
      grid-column-end: 3;
      color: black;
      display: inherit;
      justify-content: center;
      align-content: center; }
      .profile-container-grid .description-name {
        font-size: 2.5rem; }
      .profile-container-grid .description-profession {
        font-size: 2rem; }
    .profile-container-grid .button-container {
      display: inherit;
      justify-content: right;
      align-content: center;
      grid-column-start: center-end;
      grid-column-end: full-end; }
      .profile-container-grid .button-container .cosmain-link {
        background-color: var(--color-primary);
        color: white;
        border-radius: .5rem;
        border-style: none;
        font-size: 1.5rem;
        height: 4rem;
        width: 10rem;
        cursor: pointer; }

.car-container {
  width: 100%; }
  .car-container-slide img {
    resize: both;
    min-width: 100%;
    height: 100vh; }

.homepage {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  font-size: 1.6rem; }

.headerRow {
  grid-row: 1 / 1;
  grid-column: 1 / -1; }

.filterpage {
  display: grid;
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }
  .filterpage-sidenav {
    grid-row: 1/-1;
    grid-column: side-start / side-end; }
  .filterpage-video {
    grid-column: col-start 2 / col-end 8; }

.professionalpage {
  display: grid;
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }
  .professionalpage-sidenav {
    grid-row: 1/-1;
    grid-column: side-start / side-end; }
  .professionalpage-video {
    grid-column: col-start 2 / col-end 8; }
