:root {
  --color-primary: #202020;
  --color-grey-light: grey;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #383838;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #252525; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit;
  color: white; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh; }

body {
  font-family: "Opens sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.border-radius-left-corners {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem; }

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 4rem;
  color: white;
  background-color: var(--color-primary);
  align-items: baseline; }
  .nav-menu {
    display: flex;
    align-items: baseline; }
  .nav-logo a {
    font-size: 3rem;
    margin-left: 3rem;
    color: white;
    text-decoration: none;
    font-weight: 500; }
    .nav-logo a:hover {
      text-decoration: none;
      color: white; }
    .nav-logo a svg {
      width: 15rem;
      height: 4rem;
      fill: transparent;
      stroke: white; }

.burger {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: var(--color-primary); }
  .burger-items {
    padding: .5rem 10rem 1rem 2rem; }
    .burger-items-container {
      position: absolute;
      top: 7rem;
      left: 20rem;
      z-index: 10;
      background-color: var(--color-primary);
      border-radius: .4rem;
      padding: 1rem; }
      @media only screen and (max-width: 35.625em) {
        .burger-items-container {
          display: none; } }
    .burger-items:hover, .burger-items:active {
      display: block; }
    .burger-items a {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: white;
      text-decoration: none; }
      .burger-items a:hover {
        cursor: pointer;
        color: white;
        text-decoration: none; }
      .burger-items a svg {
        width: 2rem;
        height: 2rem;
        fill: white;
        stroke: white;
        margin: 0 1rem 0 0; }
    .burger-items:hover {
      background-color: var(--color-grey-light);
      cursor: pointer; }
  .burger-menu {
    margin: 0 0 0 1rem; }
    .burger-menu-icon {
      position: absolute;
      top: 3rem;
      left: 20rem;
      padding: 0 0 .3rem 0;
      width: 7rem;
      height: 3rem;
      fill: white;
      stroke: white; }
      @media only screen and (max-width: 35.625em) {
        .burger-menu-icon {
          position: absolute;
          top: 3rem;
          left: 40rem; } }
      @media only screen and (max-width: 30.3125em) {
        .burger-menu-icon {
          position: absolute;
          top: 3.5rem;
          left: 34rem; } }
      @media only screen and (max-width: 23.125em) {
        .burger-menu-icon {
          position: absolute;
          top: 3.5rem;
          left: 25rem; } }
      .burger-menu-icon:hover, .burger-menu-icon:active {
        cursor: pointer; }

.phone-burger {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: var(--color-primary); }
  .phone-burger-items {
    width: 100%;
    padding: 1.5rem 0rem 1rem 3rem; }
    .phone-burger-items-container {
      background-color: var(--color-primary);
      padding: 1rem; }
      @media only screen and (min-width: 35.625em) {
        .phone-burger-items-container {
          display: none; } }
    .phone-burger-items:hover, .phone-burger-items:active {
      display: block; }
    .phone-burger-items a {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: white;
      text-decoration: none; }
      .phone-burger-items a:hover {
        cursor: pointer;
        color: white;
        text-decoration: none; }
      .phone-burger-items a svg {
        width: 2rem;
        height: 2rem;
        fill: white;
        stroke: white;
        margin: 0 1rem 0 0; }
    .phone-burger-items:hover {
      background-color: var(--color-grey-light);
      cursor: pointer; }

.side-sticky-menu {
  padding-left: 35px; }
  .side-sticky-menu .content {
    margin: 33px auto 0 6px; }
    .side-sticky-menu .content-body {
      width: 256px;
      position: relative; }
      .side-sticky-menu .content-body .dropdown-btn {
        width: 100%;
        height: 2rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #002333;
        border-bottom: #dcdee1 1px solid;
        font-weight: 700; }
        .side-sticky-menu .content-body .dropdown-btn:hover {
          cursor: pointer; }
      .side-sticky-menu .content-body .dropdown-container .list-item {
        margin-left: -1.5rem;
        height: 40px;
        line-height: 20px;
        color: #394649;
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1.5rem; }
        .side-sticky-menu .content-body .dropdown-container .list-item a {
          font-size: 1.5rem; }
        .side-sticky-menu .content-body .dropdown-container .list-item:hover {
          background-color: #002333;
          color: white;
          cursor: pointer;
          border-radius: 4px; }
      .side-sticky-menu .content-body .dropdown-container .active {
        background-color: #002333;
        color: white;
        cursor: pointer;
        border-radius: 4px; }

.video {
  display: grid;
  grid-template-rows: min-content 1fr min-content 1fr;
  grid-gap: 1rem;
  padding: 0rem 2rem 2rem 5rem;
  margin: 2rem 0;
  transition: all 2s; }
  @media only screen and (max-width: 46.25em) {
    .video {
      padding: 0; } }
  .video-heading {
    font-size: 3.6rem;
    padding: 0rem 0 1.5rem 2rem; }
  .video-slidebar {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, min-content));
    grid-gap: 3rem; }
    @media only screen and (max-width: 81.25em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(24rem, min-content)); } }
    @media only screen and (max-width: 72.5em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(22rem, min-content)); } }
    @media only screen and (max-width: 67.5em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(20rem, min-content)); } }
    @media only screen and (max-width: 62.4em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(18rem, max-content)); } }
    @media only screen and (max-width: 57.5em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(35rem, max-content)); } }
    @media only screen and (max-width: 52.5em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(30rem, max-content)); } }
    @media only screen and (max-width: 46.25em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(25rem, max-content)); } }
    @media only screen and (max-width: 35.625em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, minmax(20rem, max-content)); } }
    @media only screen and (max-width: 30.3125em) {
      .video-slidebar {
        grid-template-columns: repeat(auto-fit, 100%); } }
    .video-slidebar-container {
      border-radius: 1.5rem;
      transition: all .5s; }
      @media only screen and (max-width: 30.3125em) {
        .video-slidebar-container {
          height: 150%; } }
      .video-slidebar-container-iframe iframe {
        border-top-right-radius: 1.5rem;
        width: 100%;
        height: 100%; }
        @media only screen and (max-width: 30.3125em) {
          .video-slidebar-container-iframe iframe {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            height: 25rem; } }
      .video-slidebar-container-description {
        background-color: var(--color-grey-dark-1);
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem; }
        .video-slidebar-container-description-students {
          grid-row: 1/1;
          grid-column: 1/2;
          font-size: 1.6rem; }
        .video-slidebar-container-description-time {
          grid-row: 1/1;
          grid-column: 3/3;
          display: flex;
          flex-flow: column;
          align-items: flex-end;
          font-size: 1.6rem; }
        .video-slidebar-container-description-heading {
          grid-row: 2/3;
          grid-column: 1/-1;
          margin: .8rem 0 2rem 1rem;
          font-size: 1.5rem;
          font-weight: 900;
          padding-right: 2rem;
          height: 100%; }
        .video-slidebar-container-description-professor {
          grid-row: 3/3;
          grid-column: 1/1;
          font-size: 1.6rem; }
        .video-slidebar-container-description-bookmark {
          grid-row: 1/1;
          grid-column: 3/3;
          display: flex;
          flex-flow: column;
          align-items: flex-end; }
          .video-slidebar-container-description-bookmark-icon {
            width: 2rem;
            height: 2rem;
            fill: transparent;
            stroke: white; }

.footer-container {
  padding-left: 35px;
  font-size: 1.5rem;
  background-color: var(--color-primary);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 60px 41px;
  color: white; }
  .footer-container-ul {
    list-style-type: none;
    font-size: 1.5rem; }

.footer-container-ul > li {
  float: left;
  margin-right: 15px; }

li > a {
  text-decoration: none;
  color: white; }

li > a:hover {
  color: #ffdd00; }

.social-media-links {
  font-size: 2.5rem;
  float: right;
  cursor: pointer; }
  .social-media-links .media-link {
    color: white;
    margin: 0 1rem; }

.profile {
  padding: 2rem 2rem 0 5rem; }
  .profile-container-grid {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    font-size: 1.6rem;
    padding: 15px;
    height: 15rem; }
    .profile-container-grid .img-wrapper {
      grid-column-start: full-start;
      grid-column-end: 2;
      display: inherit;
      justify-content: center;
      align-content: center; }
      .profile-container-grid .img-wrapper img {
        border-radius: 50%;
        width: 100px;
        height: 100px; }
    .profile-container-grid .description {
      grid-column-start: center-start;
      grid-column-end: 3;
      color: black;
      display: inherit;
      justify-content: center;
      align-content: center; }
      .profile-container-grid .description-name {
        font-size: 2.5rem; }
      .profile-container-grid .description-profession {
        font-size: 2rem; }
    .profile-container-grid .button-container {
      display: inherit;
      justify-content: right;
      align-content: center;
      grid-column-start: center-end;
      grid-column-end: full-end; }
      .profile-container-grid .button-container .cosmain-link {
        background-color: var(--color-primary);
        color: white;
        border-radius: .5rem;
        border-style: none;
        font-size: 1.5rem;
        height: 4rem;
        width: 10rem;
        cursor: pointer; }

.car-container {
  width: 100%; }
  .car-container-slide img {
    resize: both;
    min-width: 100%;
    height: 100vh; }

.filterpage {
  display: grid;
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  padding: 2rem;
  background-color: var(--color-grey-dark-1); }
  @media only screen and (max-width: 30.3125em) {
    .filterpage {
      margin: 0;
      padding: 0; } }
  .filterpage-main {
    grid-column: side-start / full-end; }
    .filterpage-main-header {
      padding: 2rem 0 0 3rem; }
      .filterpage-main-header-featured {
        display: grid;
        grid-template-columns: repeat(2, 1.5fr) 2fr;
        padding: 2rem; }
        .filterpage-main-header-featured-image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block; }
        .filterpage-main-header-featured-content {
          display: grid;
          grid-template-rows: repeat(3, min-content);
          padding: 2rem; }
          .filterpage-main-header-featured-content-heading {
            font-size: 2.4rem;
            font-weight: 800; }
          .filterpage-main-header-featured-content-professor {
            display: grid;
            grid-template-columns: min-content 1fr; }
            .filterpage-main-header-featured-content-professor-image {
              grid-column: 1/1; }
              .filterpage-main-header-featured-content-professor-image img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%; }
            .filterpage-main-header-featured-content-professor-shortDescription {
              grid-column: 2/2;
              display: flex;
              flex-flow: column; }
          .filterpage-main-header-featured-content-time {
            grid-row: 3/3; }
      .filterpage-main-header-category {
        font-size: 3.5rem; }
      .filterpage-main-header-followers {
        font-size: 1.4rem; }
      .filterpage-main-header-relatedTags {
        display: flex;
        flex-wrap: wrap;
        margin: 3rem 0;
        border-bottom: 1px solid var(--color-grey-light-4);
        padding: 0 3rem 2.5rem 0;
        align-items: center; }
        .filterpage-main-header-relatedTags-heading {
          grid-column: 1/1;
          font-size: 1.5rem;
          font-weight: 800;
          list-style-type: none;
          margin-right: 1rem; }
        .filterpage-main-header-relatedTags-tags {
          font-size: 1.6rem;
          font-weight: 300;
          border: 1px solid var(--color-grey-dark-1);
          padding: .2rem 1rem;
          margin: .3rem .3rem;
          border-radius: 1rem;
          transition: all .5s;
          list-style-type: none; }
          .filterpage-main-header-relatedTags-tags:hover {
            color: var(--color-grey-dark-1);
            background-color: white;
            border: 1px solid transparent;
            cursor: pointer; }
      .filterpage-main-header-phone-relatedTags {
        display: flex;
        flex-wrap: wrap;
        margin: 3rem 0;
        border-bottom: 1px solid var(--color-grey-light-4);
        padding: 0 3rem 2.5rem 0;
        align-items: center;
        display: none; }
        .filterpage-main-header-phone-relatedTags-heading {
          grid-column: 1/1;
          font-size: 1.5rem;
          font-weight: 800;
          list-style-type: none;
          margin-right: 1rem; }
        .filterpage-main-header-phone-relatedTags-tags {
          font-size: 1.6rem;
          font-weight: 300;
          border: 1px solid var(--color-grey-dark-1);
          padding: .2rem 1rem;
          margin: .3rem .3rem;
          border-radius: 1rem;
          transition: all .5s;
          list-style-type: none; }
          .filterpage-main-header-phone-relatedTags-tags:hover {
            color: var(--color-grey-dark-1);
            background-color: white;
            border: 1px solid transparent;
            cursor: pointer; }
      .filterpage-main-header-search {
        margin: 2rem 0; }
        .filterpage-main-header-search-input {
          font-family: inherit;
          font-size: inherit;
          color: black;
          background-color: var(--color-grey-light-2);
          width: 20%;
          border-radius: 10rem;
          padding: .7rem 2rem;
          border: none;
          margin-right: -3rem;
          transition: all .2s; }
          @media only screen and (max-width: 81.25em) {
            .filterpage-main-header-search-input {
              width: 50%; } }
          @media only screen and (max-width: 35.625em) {
            .filterpage-main-header-search-input {
              width: 90%; } }
          .filterpage-main-header-search-input:focus {
            outline: none;
            width: 85%;
            background-color: var(--color-grey-light-3);
            color: black; }
          .filterpage-main-header-search-input::-webkit-input-placeholder {
            font-weight: 100%;
            color: black; }
        .filterpage-main-header-search-input:focus + .filterpage-main-header-search-button {
          background-color: var(--color-grey-light-3); }
        .filterpage-main-header-search-button {
          border: none;
          background-color: var(--color-grey-light-2); }
          .filterpage-main-header-search-button:focus {
            outline: none; }
          .filterpage-main-header-search-button:active {
            transform: translateY(0.2rem); }
          @media only screen and (max-width: 35.625em) {
            .filterpage-main-header-search-button {
              display: none; } }
        .filterpage-main-header-search-icon {
          width: 2rem;
          height: 1rem;
          fill: var(--color-grey-dark-1); }
          .filterpage-main-header-search-icon:hover {
            cursor: pointer; }
    .filterpage-main-background {
      height: 6rem;
      width: 6rem;
      position: fixed;
      border-radius: 50%;
      top: 6.5rem;
      left: 6.5rem;
      z-index: -1000;
      opacity: 0; }
      @media only screen and (max-width: 35.625em) {
        .filterpage-main-background {
          height: 6rem;
          width: 6rem;
          position: fixed;
          border-radius: 50%;
          top: 6.5rem;
          right: 6.5rem;
          z-index: -1000;
          background-image: radial-gradient(var(--color-primary), var(--color-grey-light-2));
          transition: all .4s;
          opacity: 0; } }
  .filterpage-footer {
    grid-row: 2/2;
    grid-column: 1/-1; }

.list {
  max-height: 20rem;
  overflow-y: scroll; }
  .list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  .list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

@media only screen and (max-width: 35.625em) {
  .filterpage-main-header-search-input.search-dropdown ~ .list {
    max-height: none;
    height: 100%; } }

@media only screen and (max-width: 35.625em) {
  .filterpage-main-header-search-input.search-dropdown {
    width: 80%;
    position: fixed;
    top: 2rem;
    z-index: 2000; } }

@media only screen and (max-width: 35.625em) {
  .filterpage-main-background.search-dropdown {
    opacity: 1;
    transform: scale(80);
    z-index: 1000; } }

@media only screen and (max-width: 35.625em) {
  .filterpage-main-header-phone-relatedTags.search-dropdown {
    position: fixed;
    top: 6rem;
    z-index: 2000;
    display: block; } }

.professionalpage {
  display: grid;
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }
  .professionalpage-sidenav {
    grid-row: 1/-1;
    grid-column: side-start / side-end; }
  .professionalpage-video {
    grid-column: col-start 2 / col-end 8; }
