:root {
    --color-primary: #202020;

    --color-grey-light: grey;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #383838;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #252525;
}

$bp-largest: 81.25em;
$bp-largest-1160: 72.5em;
$bp-large-1080: 67.5em;
$bp-large: 62.4em;
$bp-large-920: 57.5em;
$bp-medium-840: 52.5em;
$bp-medium: 46.25em;
$bp-medium-570: 35.625em;
$bp-small-470: 29.375em;

* {
    margin: 0;
    padding: 0; 
}

*,
*::before,
*::after {
    box-sizing: inherit; 
    color: white;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;    
    min-height: 100vh;
}   

body {
    font-family: "Opens sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}