.footer {
    background-color: var(--color-primary);
    
    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-gap: 4rem;
        padding: 3rem;
    }

    &-about {
        grid-column: 1/-1;

        &-heading {
            font-size: 3rem;
        }
        
        &-description {
            font-size: 1.4rem;
        }
    }

    &-copyright {
        grid-column: 1/-1;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-medium-570){
            flex-flow: column;
        }

        &-links {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            font-size: 1.4rem;

            @media only screen and (max-width: $bp-medium-570){
                flex-flow: column;
                justify-content: flex-start;
                text-align: left;
            }

            & li {
                padding: 0 .5rem;

                & a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }

        &-social-media {
            display: flex;
            justify-content: space-evenly;
            font-size: 2rem;

            & a {
                padding-right: 1rem;
            }

            @media only screen and (max-width: $bp-medium-570){
                justify-content: flex-start;
                text-align: left;
                padding-top: 2rem;
            }
        }
    }
}