.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    color: white;
    background-color: var(--color-primary);

    &-menu {
        display: flex;

        &-items {
            & a {
                margin-left: 2rem;
                padding: 2rem 1rem;
                color: white;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 500;  
                transition: all .5s;

                &:hover {
                    color: white;
                    background-color: var(--color-grey-dark-1);
                    text-decoration: none;
                }
            }
        }

        @media only screen and (max-width: $bp-largest){
            flex-direction: column;
            align-items: center;
        }
    }

    @media only screen and (max-width: $bp-largest){
        flex-direction: column;
        align-items: center;
    }

    &-logo {
        & a {
            font-size: 3rem;
            margin-left: 3rem;
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: white;
            }
        }
    }

    // &-login {
    //     grid-column: 5/6;
    // }

    // &-sign-up {
    //     grid-column: 6/6;
    // }
}