.nav {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 10% 10% 30% 26% 7% 7%;
    grid-gap: 3rem;
    padding: 1rem 2rem;
    color: white;
    align-items: center;
    font-size: inherit;
    background-color: var(--color-primary);

    &-container {
        display: grid;
        grid-template-rows: minmax(6rem, 1fr);
        font-size: 1.6rem;
    }

    &-logo {
        // grid-column: 1/2;
        .img{
            height:100%;
        }
        
    }

    &-browse {
        // grid-column: 2/3;
        justify-content: center;
        font-size: 1.5rem;
        font-family: Poppins;

        &-text {
            cursor: pointer;
        }

        &-text:hover {
            color: rgb(243, 112, 33);
        }

        &-dropdown {
            margin-top: 0.7%;
            list-style: none;
            position: absolute;
            display: flex;
            flex-direction: column;
            border: 1px solid #dcdcdc;
            border-top: unset;
            font-family: Poppins;

            &-catContainer {
                // display: flex;
                // flex-direction: row;
                // justify-content: space-between;display: grid;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                &-cat1, &-cat2, &-cat3 {
                    padding: 2rem;

                    .list-title {
                        text-decoration: underline;
                        list-style-type: none;
                        color: black;
                    }
        
                    .list-item {
                        color: black;
                        list-style-type: none;
                    }
            
                    .list-item:hover {
                        color: rgb(243, 112, 33);
                        cursor: pointer;
                        background-color: silver;
                    }
                }
            }

            &-otherContainer {
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                padding: 2rem;
                color: black;
            }
        }
    }

    &-search {
        // grid-column: 3/4;
        &-input {
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            background-color: var(--color-grey-light-2);
            width: 85%;
            border-radius: 10rem;
            padding: .7rem 2rem;
            border: none;
            margin-right: -3rem;
            transition: all .2s;

            &:focus {
                outline: none;
                width: 100%;
                background-color: var(--color-grey-light-3);
                color: var(--color-grey-dark-3);
            }

            &::-webkit-input-placeholder {
                font-weight: 100%;
                color: var(--color-grey-light-4);
            }
            
        }

        &-input:focus + &-button {
            background-color: var(--color-grey-light-3);
        }

        &-button {
            border: none;
            background-color: var(--color-grey-light-2);

            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(.2rem);
            }
        }

        &-icon {
            width: 2rem;
            height: 1rem;
            fill: var(--color-grey-dark-3);

            &:hover {
                cursor: pointer;
            }
        }

    }

    &-login {
        grid-column: 5/6;
    }

    &-sign-up {
        grid-column: 6/6;
    }
}